body {
    background-image: url('../css/oxfambg.jpg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

#corpsPage {
    padding-bottom: 2em;
}

table#listeUsers tr td,
table#listeContextes tr td {
    cursor: pointer;
}

table#listeUsers tr.choosen td,
table#listeContextes tr.choosen td {
    background-color: #f7ea3f;
}

select#idContexte {
    border: 4px solid #f55;
}

@media only screen and (max-width: 600px) {
    .navbar-brand img {
        width: 200px !important;
    }
}

.modal-title:before {
    content: url('../images/logo-oxfam-mdm.png');
}

input::placeholder {
    color: #aaaaaa !important;
    opacity: 1;
    /* Firefox */
}

label.error {
    color: red;
    font-weight: bold;
}

.void {
    text-align: center;
    padding-top: 8rem;
}

.idInt {
    font-size: 10pt;
}

.addonMdp {
    cursor: pointer;
}

.isDisabled {
    display: none;
}

.barre {
    text-decoration-line: line-through;
}





.hiddenMdp {
    background-color: pink;
    color: pink;
    border-radius: 5px;
    height: 2.3em;
    border: 1px solid black;
}

.shownMdp {
    background: white;
    color: black;
    border-radius: 5px;
    height: 2.3em;
    border: 1px solid black;
    padding: 0.3em;
}

#ficheProfil {
    background-color: pink;
    border: 1px solid black;
    padding: 0.5em;
}

.form-check-input:checked {
    background-color: #ff0000;
    border-color: #ff0000;
}

.form-check-input {
    background-color: #fff;
    border-color: #55a;
}

table .jourDate {
    background-color: #5c5 !important;
    ;
}

table .jourDate p {
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}


table td button {
    font-size: 10pt
}

td.conge {
    background-color: #afafb5;
    opacity: 0.6
}

td.modified {
    background-color: #00ff00;
}

.me {
    background-color: #f55;
    color: white;
    font-weight: bold;
}

.benevole {
    background-color: rgb(188, 188, 211);
    color: rgb(56, 55, 55);
}

button.toDelete {
    background-color: pink;
}

#calendar .btn-sm,
#calendarGestion .btn-sm {
    margin: 0 0 2px;
    padding: 0
}